.select-container{
  width: 224px;
  margin-bottom: 15px;
 
  
}
.select__indicator .select__dropdown-indicator .css-1xc3v61-indicatorContainer{

  border-color: transparent!important;
}
.css-kpv7eu-control{
  border-color: transparent!important;
}
.css-kpv7eu-control:hover{
  border-color: transparent!important;
}

.select__control.css-13cymwt-control.css-kpv7eu-control  {
  background-color: #F7F7FB; 
  border-radius: 15px; 
  border-color: transparent !important;

}
.select__control.css-13cymwt-control:hover {
  border-color: transparent;
  border-radius: 15px;
}
.select__indicator-separator {
  width: 0px !important;
}
.select__control.select__control.css-13cymwt-control{


}



